.picker {
    width: 30rem;
    max-width: 80%;
    height: 20rem;
    max-height: 30vh;
    border: 1px solid var(--ion-color-primary);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
ion-item-sliding .item {
  --background: linear-gradient(90deg, rgb(223, 226, 230) 0%, rgb(222, 225, 231) 35%, rgb(224, 228, 233) 100%);
}
// .ng-valid[required], .ng-valid.required  {
//   border-left: 5px solid #f8d7da; /* green */
// }

// .ng-invalid:not(form)  {
//   border-left: 5px solid #f8d7da; /* red */
// }
.label-class{
  --inner-padding-start:12px;
  --inner-padding-end:10px;
  margin-left: 67px;
}
.label-class-al{
  margin-left: 67px;
}
.ion-input{
  margin-left: 67px;
}
.dx-lookup-field {
  padding: 5px 23px 12px 54px;
  font-size: 1em;
}
ion-content {
  //--background: linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);
 
    ion-item {
    // --background: rgb(120, 126, 134);
      padding: 0;
     // margin: 14px 0;
      --border-radius: 14px;
     // color: #FFFFFF;
      //font-weight: 600;
 }
 ion-searchbar{
  --border-radius: 14px;
  --background: rgb(243, 243, 243);
  margin-top: -13px;
 }
}
ion-content ion-segment {
  margin: 5px 0;
}
table.table-hover tbody tr:hover {
  cursor: pointer;
}
.modal-wrapper {
  background: #222;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .modal-wrapper {
  background: #222;
}
.my-custom-class {
  --background: #222;
}
ion-content {
  //--background: linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);
 
    ion-item {
    // --background: rgb(120, 126, 134);
      padding: 0;
     // margin: 14px 0;
      --border-radius: 14px;
     // color: #FFFFFF;
      //font-weight: 600;
 }
 ion-searchbar{
  --border-radius: 14px;
  --background: rgb(243, 243, 243);
  margin-top: -13px;
 }
}
ion-slides {
  height: 50%;
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 80%;
  margin: 0px 0 4px;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 4px;
  font-size: 12px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}
#container{
  columns:2;
  column-gap: 10px;
  ion-card{
    width:100%;
    margin:0 0 10px 0;
    break-inside:avoid;
    --border-radius: 14px;
  }
}
.select-icon {
  width: 19px;
  height: 19px;
  margin-left: 94px;
}