ion-segment .message{
    padding-left: 165px;
  }
  ion-row .message{
    padding-top: 19px;
    padding-left: 107px;
}
ion-grid {
    border-radius: 9px;
    background-color: whitesmoke;
    height: 79px;
}
ion-label .message{
  padding-left: 60px;
  padding-top: 24px;
  text-align: center;
  font-size: 28px;
  font-style: initial;
  font-family: cursive;
}