<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid style="margin-left: 90px;">
     <ion-avatar style="height: 62px;
      width: 68px;" class="ion-margin-start" >
        <ion-img role="button" class="image" (click)="onPickImage()" [src]="base64textString"
        *ngIf="base64textString"></ion-img>
      </ion-avatar>
       <ion-icon name="camera" slot="start"></ion-icon>
      <ion-label>{{this.fullName}}</ion-label>
      <ion-button color="primary" (click)="onPickImage()" *ngIf="!base64textString">
        <ion-icon name="camera" slot="start"></ion-icon>
      </ion-button>
    <input hidden type="file" accept="image/jpeg" *ngIf="usePicker" #filePicker (change)="onFileChosen($event)" />
</ion-grid>
<ion-item lines="none" (click)="account()">
  <ion-icon color="primary" name="person-outline"></ion-icon><ion-label>&nbsp;&nbsp;&nbsp;Account details</ion-label>
</ion-item>
<ion-item lines="none" (click)="setting()">
  <ion-icon color="primary" name="settings-outline"></ion-icon><ion-label>&nbsp;&nbsp;&nbsp;Settings</ion-label>
</ion-item>
<ion-item lines="none" (click)="contact()">
  <ion-icon color="primary" name="call-sharp"></ion-icon><ion-label>&nbsp;&nbsp;&nbsp;Contact Us</ion-label>
</ion-item>
<ion-button (click)="logout()">loginout</ion-button>
</ion-content>
